<div class="col-md-6 offset-md-3" style="margin-top:30px">
    <div class="card">
        <div class="card-title">
            <h1 class="text-center">Desafio</h1>
        </div>
        <div class="card-body">
            <%= form_for @upload, :url => { :action => :create } do |f| %>
                <%= f.file_field :file, class: 'form-control', required: true %>
                <%= f.submit "Enviar", class: 'btn btn-primary', style: 'margin-top: 10px;' %>
            <% end %>
            <hr>
            <h4>
                <% if params[:result] %>
                  Mensagem: <%=params[:result]%>
                <% end %>
                <% if params[:sum] %>
                  Receita: <%=params[:result]%>
                <% end %>
            </h4>
        </div>
        <div class="card-footer">
            Logado por <%= current_user.email %>. Não é sua conta?
            <%= link_to 'Sair', destroy_user_session_path %>
        </div>
    </div>
</div>
